body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.top-menu {
  display: flex;
  background-color: #333;
  padding: 10px;
  flex: 1;
}

.top-menu button {
  background-color: #555;
  color: #fff;
  border: 2px solid transparent; 
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  position: relative; 
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.top-menu button.active {
  background-color: #777;
  border-color: #fff; 
}

.top-menu button:hover {
  background-color: #666;
}

.side-menu {
  background-color: #444;
  color: #fff;
  padding: 10px;
  width: 250px;
  position: fixed; 
  top: 0;
  right: -250px; 
  bottom: 0;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
}

.side-menu.visible {
  right: 0; 
}

.side-menu button {
  background-color: #555;
  color: #fff;
  border: 2px solid transparent; 
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  position: relative; 
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.side-menu button:hover {
  background-color: #666;
}

/*тултип */
.top-menu button::after,
.side-menu button::after {
  content: attr(title);
  position: absolute;
  left: 50%;
  top: 100%; 
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap; 
  z-index: 1000; 
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.top-menu button:hover::after,
.side-menu button:hover::after {
  opacity: 1;
  visibility: visible;
}
