.menu-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.menu li {
  padding: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu li:hover {
  background-color: #555;
}